<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Administrador-Empleado</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/887a835504.js" crossorigin="anonymous"></script>
        <link href="css/css.css" rel="stylesheet" type="text/css"/>
        <link href="css/login.css" rel="stylesheet" type="text/css"/>
    </head>

    <body>

        <header>
            <div class="header-left">
                <h1><a href="index.html">Cinema K&Js</a></h1>
            </div>
        </header>

        <nav>
            <ul class="nav-menu">
                <li><a class="boton" href="index.html">Volver al Menu Principal</a></li>
                <li>Bienvenido Administrador</li>
            </ul>
        </nav>

        <br>
        <br>
        <br>
        
        <section th:fragment="listadoEmpleado">
    <div style="padding-left: 50px">
        <div class="row">
            <div class="col-md-9">
                <div class="card" style="background-color: grey;">
                    <div class="card-header" style="padding: 5px; background-color: black;">
                        <h4 style="color: white; padding-left: 50px;">Empleados</h4>
                    </div>
                    <div th:if="${empleados != null and !empleados.empty}">
                        <table class="table table-striped table-hover">
                            <thead class="table-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Apellidos</th>
                                    <th>Edad</th>
                                    <th>Puesto</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="empleado, contador : ${empleados}">
                                    <td th:text="${contador.count}"></td>
                                    <td th:text="${empleado.nombre}"></td>
                                    <td th:text="${empleado.apellidos}"></td>
                                    <td th:text="${empleado.edad}"></td>
                                    <td th:text="${empleado.puesto}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center p-2" th:if="${empleados == null or empleados.empty}">
                        <span>Lista Vacia</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


        <footer>
            <div id="footer">
                <h4>¡TU CINE!</h4>
            </div>


        </footer>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    </body>

</html>
