.boton {
    border: 1px solid #2e518b;
    padding: 30px;
    background-color: #2e518b;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Swis721 BlkCn BT', sans-serif;
    font-weight: bold;
    font-style: italic;
    border-radius: 10px;
    font-size: 16px;
    color: red;
}



#admin {
    padding: 13px;
    background-color: #2e518b;
    color: white;
    text-decoration: none;
    font-family: 'Swis721 BlkCn BT', sans-serif;
    font-weight: bold;
    font-style: italic;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;


    display: flex;
    justify-content: center;
    align-items: center;
}

.login-content {
    padding-top: 10px;
    border-radius: 10px;
    background-color: #4FBEEE;
    color:black;
    font-family: 'Swis721 BlkCn BT', sans-serif;
    font-weight: bold;
    font-style: italic;
    max-width: 400px;
    margin: 0 auto;
}

.login-text {
    background-color: white ;
    padding: 5px;
}

.form-control {
    width: 80%;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

#footer{
    font-family: 'Swis721 BlkCn BT', sans-serif;
    font-weight: bold;
    font-style: italic;
    margin-right: 1500px;
}

