<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <title>Asientos K&J</title>
  </head>
  <body>
    <div class="movie-container">
      <label> Seleccione una Pelicula:</label>
      <select id="movie">
        <option value="220">Barbie</option>
        <option value="320">Indiana Jones </option>
        <option value="250">Openheimmer</option>
        <option value="260">Rapidos y Furiosos x</option>
      </select>
    </div>

    <ul class="showcase">
      <li>
        <div class="seat"></div>
        <small>Available</small>
      </li>
      <li>
        <div class="seat selected"></div>
        <small>Selected</small>
      </li>
      <li>
        <div class="seat sold"></div>
        <small>Sold</small>
      </li>
    </ul>
    <div class="container">
      <div class="screen"></div>

      <div class="row">
        <div class="seat">A1</div>
        <div class="seat">A2</div>
        <div class="seat">A3</div>
        <div class="seat">A4</div>
        <div class="seat">A5</div>
        <div class="seat">A6</div>
        <div class="seat">A7</div>
        <div class="seat">A8</div>
      </div>

      <div class="row">
        <div class="seat">B1</div>
        <div class="seat">B2</div>
        <div class="seat">B3</div>
        <div class="seat sold">B4</div>
        <div class="seat sold">B5</div>
        <div class="seat">B6</div>
        <div class="seat">B7</div>
        <div class="seat">B8</div>
      </div>
      <div class="row">
        <div class="seat">C12</div>
        <div class="seat">C2</div>
        <div class="seat">C3</div>
        <div class="seat">C4</div>
        <div class="seat">C5</div>
        <div class="seat">C6</div>
        <div class="seat sold">C7</div>
        <div class="seat sold">C8</div>
      </div>
      <div class="row">
        <div class="seat">D1</div>
        <div class="seat">D2</div>
        <div class="seat">D3</div>
        <div class="seat">D4</div>
        <div class="seat">D5</div>
        <div class="seat">D6</div>
        <div class="seat">D7</div>
        <div class="seat">D8</div>
      </div>
      <div class="row">
        <div class="seat">E1</div>
        <div class="seat">E2</div>
        <div class="seat">E3</div>
        <div class="seat sold">E4</div>
        <div class="seat sold">E5</div>
        <div class="seat">E6</div>
        <div class="seat">E7</div>
        <div class="seat">E8</div>
      </div>
      <div class="row">
        <div class="seat">F1</div>
        <div class="seat">F2</div>
        <div class="seat">F3</div>
        <div class="seat">F4</div>
        <div class="seat sold">F5</div>
        <div class="seat sold">F6</div>
        <div class="seat sold">F7</div>
        <div class="seat">F8</div>
      </div>
    </div>

    <p class="text">
      Usted ha Seleccionado: <span id="count">0</span> asientos para la pelicula</span>
    </p>
    <!--<script src="script.js"></script>-->
    <script th:src="@{/js/script.js}"></script>
  </body>
</html>
