<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />
        <nav th:replace="layout/plantilla :: nav" />

        <style>
            .card-img-top {
                height: 200px; /* You can adjust the height as needed */
                object-fit: fit;
            }
        </style>

        <div class="container mt-3" style="color: black">
            <div class="row justify-content-center">
                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="/images/nachos.jpg" alt="Card image cap">
                            <div class="card-body" >
                                <h5 class="card-title">Nachos</h5>
                                <p class="card-text" style="color: black">Precio: 2000</p>
                                <div class="quantity">
                                    <button class="btn btn-secondary btn-sm minus-btn">-</button>
                                    <input type="text" class="quantity-input" value="0" readonly>
                                        <button class="btn btn-secondary btn-sm plus-btn">+</button>
                                </div>
                                <a href="#" class="btn btn-secondary add-to-cart-btn">[[#{btn.comprar}]]</a>
                            </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4 " style="padding-left: 30px">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="/images/palomitas.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Palomitas</h5>
                                <p class="card-text" style="color: black">Precio: 1500</p>
                                <div class="quantity">
                                    <button class="btn btn-secondary btn-sm minus-btn">-</button>
                                    <input type="text" class="quantity-input" value="0" readonly>
                                        <button class="btn btn-secondary btn-sm plus-btn">+</button>
                                </div>
                                <a href="#" class="btn btn-secondary add-to-cart-btn">[[#{btn.comprar}]]</a>
                            </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4" style="padding-left: 45px">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="/images/perrocaliente.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Perro Caliente</h5>
                                <p class="card-text" style="color: black">Precio: 1500</p>
                                <div class="quantity">
                                    <button class="btn btn-secondary btn-sm minus-btn">-</button>
                                    <input type="text" class="quantity-input" value="0" readonly>
                                        <button class="btn btn-secondary btn-sm plus-btn">+</button>
                                </div>
                                <a href="#" class="btn btn-secondary add-to-cart-btn">[[#{btn.comprar}]]</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-3" style="color:black;">
            <div class="row justify-content-center">
                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="/images/hamburguesa.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Hamburguesa</h5>
                                <p class="card-text" style="color: black">Precio: 2500</p>
                                <div class="quantity">
                                    <button class="btn btn-secondary btn-sm minus-btn">-</button>
                                    <input type="text" class="quantity-input" value="0" readonly>
                                        <button class="btn btn-secondary btn-sm plus-btn">+</button>
                                </div>
                                <a href="#" class="btn btn-secondary add-to-cart-btn">[[#{btn.comprar}]]</a>
                            </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4 " style="padding-left: 30px">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="/images/refresco.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Refresco</h5>
                                <p class="card-text" style="color: black">Precio: 1200</p>
                                <div class="quantity">
                                    <button class="btn btn-secondary btn-sm minus-btn">-</button>
                                    <input type="text" class="quantity-input" value="0" readonly>
                                        <button class="btn btn-secondary btn-sm plus-btn">+</button>
                                </div>
                                <a href="#" class="btn btn-secondary add-to-cart-btn">[[#{btn.comprar}]]</a>
                            </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4" style="padding-left: 45px">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="/images/pizza.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Pizza</h5>
                                <p class="card-text" style="color: black">Precio: 1800</p>
                                <div class="quantity">
                                    <button class="btn btn-secondary btn-sm minus-btn">-</button>
                                    <input type="text" class="quantity-input" value="0" readonly>
                                        <button class="btn btn-secondary btn-sm plus-btn">+</button>
                                </div>
                                <a href="#" class="btn btn-secondary add-to-cart-btn">[[#{btn.comprar}]]</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-3">
        <div class="text-center">
            <a th:href="@{/carrito}" class="btn btn-primary btn-block">[[#{comidas.carrito}]]</a>
        </div>
    </div>



        <footer th:replace="layout/plantilla :: footer" />

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function () {
                $(".plus-btn").click(function () {
                    var input = $(this).prev();
                    var currentValue = parseInt(input.val());
                    input.val(currentValue + 1);
                });

                $(".minus-btn").click(function () {
                    var input = $(this).next();
                    var currentValue = parseInt(input.val());
                    if (currentValue > 0) {
                        input.val(currentValue - 1);
                    }
                });

                $(".add-to-cart-btn").click(function () {
                    var card = $(this).closest(".card");
                    var title = card.find(".card-title").text();
                    var price = parseInt(card.find(".card-text").text().replace("Precio: ", ""));
                    var quantity = parseInt(card.find(".quantity-input").val());

                   
                    var product = {
                        title: title,
                        price: price,
                        quantity: quantity
                    };

                    
                    var cart = JSON.parse(localStorage.getItem("cart")) || [];

                    
                    cart.push(product);

                    
                    localStorage.setItem("cart", JSON.stringify(cart));
                    card.find(".quantity-input").val(0);
                    
                });
            });
        </script>
    </body>
</html>


