<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"       
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        
    </head>
    
    <body>
        <header th:replace="layout/plantilla :: header" />
        <nav th:replace="layout/plantilla :: nav" />
        
        <main>
        <section>
            <h2>[[#{nosotros.nosotros}]]</h2>
            <p>
                [[#{nosotros.mensaje1}]]
            </p>
            <p>
                [[#{nosotros.mensaje2}]]
            </p>
        </section>

        <section>
            <h2>[[#{nosotros.cartelera}]]</h2>
            <p>
                [[#{nosotros.mensaje3}]]
            </p>
            <p>
                [[#{nosotros.mensaje4}]] <a th:href="@{/peliculas}">>[[#{nosotros.cartelera}]]</a>.
            </p>
        </section>

        <section>
            <h2>[[#{nosotros.comodidades}]]</h2>
            <p>
                [[#{nosotros.mensaje5}]]
            </p>
            <p>
                [[#{nosotros.mensaje6}]]
            </p>
        </section>
            
            <section>
            <h2>[[#{nosotros.contactanos}]]</h2>
            <p>
                [[#{nosotros.mensaje7}]] <b>[[#{nosotros.telefonos}]]</b>.
                [[#{nosotros.mensaje8}]] <a th:href="@{/contacto}">Formulario</a>
            </p>
            <p>
                [[#{nosotros.mensaje9}]] 
            </p>
        </section>
    </main>
        
        <footer th:replace="layout/plantilla :: footer" />
    </body>
</html>
