<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"       
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        
    </head>
    
    <body>
        <header th:replace="layout/plantilla :: header" />
        <nav th:replace="layout/plantilla :: nav" />
        
        <main>
        <section>
            <h2>Sobre Nosotros</h2>
            <p>
                CinemasK&Js es un cine ficticio que se destaca por brindar una experiencia cinematográfica única. Nuestro objetivo es ofrecer una selección diversa de películas de distintos géneros y épocas, así como también proporcionar un ambiente cómodo y acogedor para nuestros espectadores.
            </p>
            <p>
                En CinemasK&Js nos esforzamos por garantizar que cada visita al cine sea especial. Contamos con salas modernas equipadas con la última tecnología de proyección y sonido para brindar una experiencia visual y auditiva de alta calidad.
            </p>
        </section>

        <section>
            <h2>Cartelera</h2>
            <p>
                Nuestra cartelera está siempre actualizada con una selección de películas que abarcan diversos géneros, desde emocionantes películas de acción hasta conmovedores dramas y divertidas comedias. También ofrecemos funciones especiales, como estrenos exclusivos, ciclos temáticos y proyecciones en formato IMAX.
            </p>
            <p>
                Para conocer los horarios y películas en exhibición, visita nuestra sección de <a href="cartelera.html">Cartelera</a>.
            </p>
        </section>

        <section>
            <h2>Comodidades</h2>
            <p>
                En CinemasK&Js nos preocupamos por el confort de nuestros espectadores. Nuestras salas cuentan con asientos amplios y cómodos, proporcionando un espacio ideal para disfrutar de las películas. Además, ofrecemos una variedad de opciones gastronómicas en nuestro snack bar, que incluyen palomitas de maíz, bebidas refrescantes y golosinas.
            </p>
            <p>
                Estamos comprometidos con brindar un servicio excepcional y hacer que tu experiencia en CinemasK&Js sea inolvidable.
            </p>
        </section>
            
            <section>
            <h2>Contactanos</h2>
            <p>
                Si queres mas Informacion sobre nuestras salas o realizar algun tipo de reclamo, recorda que siempre nos puedes contactar usando los numeros de telefono: <b>2234-6656 o 2235-6677</b>.
                De igual manera puedes enviarnos tus preguntas o inquietudes llenando el siguiente formulario: <a th:href="@{/contacto}">Formulario</a>
            </p>
            <p>
                Estamos comprometidos con brindar un servicio excepcional y hacer que tu experiencia en CinemasK&Js sea inolvidable. 
            </p>
        </section>
    </main>
        
        <footer th:replace="layout/plantilla :: footer" />
    </body>
</html>
